# Database (PostgreSQL)
DATABASE_URL="postgresql://callcenter-psql:lolamarsh1@A@102.219.189.97:5440/callcenter-psql"

# App
PORT=3001
NODE_ENV=production

# Optional: KingsChat API (for production)
# KINGSCHAT_CLIENT_ID=""
# KINGSCHAT_CLIENT_SECRET=""
